# Virtual environment
backend/venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment file
.env

# Logs
*.log

# CI / config
bitbucket-pipelines.yml
calibo.yaml
docker-compose.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db