# Ignore virtual environment
backend/venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Environment file
.env

# Logs
*.log

# Config / CI files (if not needed in repo)
bitbucket-pipelines.yml
calibo.yaml
docker-compose.yml

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db